body {
  background-image: url("../images/colorbg1.png");

}

.discussionContainer {
  width: 150%;

}

.container {
  height: 100%;
  width: 100%;

}

footer {
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;

}

.movieSearchBtn:hover {
  cursor: pointer;

}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow-x: hidden;
    
}

#loginRow {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.212);
  padding-top: 10px;

}

h3 {
  font-family: 'Permanent Marker', cursive;
  color: rgb(49, 50, 51);

}

h4 {
  font-family: 'Neuton', serif;

}

h6 {
  font-family: 'Istok Web', sans-serif;
  color: rgb(55, 68, 143);

}

.carousel-caption h1 {
  color: white;

}

.container4 {
  text-align: center;

}

#searchBar {
  justify-content: center;

}

.carousel-item {

  width: 100%;
  height: 575px;
  object-fit: scale-down;
}

#avatar {
  width: 250px;
  height: 250px;
}

#movie-jumb {
  background-color: rgba(0, 0, 0, 0.205);
}

.card {
  background-color: rgba(0, 0, 0, 0.205);
  color: #f5f5f5;
}

#teamArea {
  padding-bottom: 80px;

}

#teamHeader {
  color: rgb(65, 65, 63);
  font-family: 'Neuton', serif;
  font-size: 50px;
  margin-top: 0px;

}

.team-section {
  background-color: rgba(0, 0, 0, 0.212);

}


/* For tablets */
@media screen and (max-width: 768px) {
  .carousel-item-next, .carousel-item-prev, .carousel-item.active {
      height: 450px;
  }

  .page-footer{
    position: sticky;
  }

  .movieResults {
      display: flex;
      flex-wrap: wrap;
  }
  
  
}

/* For mobile phones */
@media screen and (max-width: 720px) {
 .movieResults {
      display: inline;
      flex-wrap: wrap;
      text-align: center;
 }

 .page-footer{
   position: sticky;
 }
 .carousel-item-next, .carousel-item-prev, .carousel-item.active {
    height: 225px;
  }
}