<div class="container">

    <br>
    <!-- Jumbotron -->
    <div class="card card-image z-depth-3" style="background-image: url(images/bookPage.jpg);">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="py-5">

                <!-- Content -->
                <h1 class="h1 orange-text">Book Talk</h1>
                <h4>How could he get away with it? Or does she indeed help her great grandmother find the love of her
                    life
                    in the Himalayas? Wouldn't it be nice to expound with others on these very important concerns. Well
                    rest at ease, the search-bar is waiting for you right below... </h4>
                <!--<a class="btn peach-gradient"><i class="fas fa-clone left"></i> View project</a>-->

            </div>
        </div>
    </div>
    <!-- Jumbotron -->

    <form class="form-inline md-form mr-auto mb-4" id="searchBar">
        <input class="form-control col-md-8" id="movieInput" type="text" placeholder="Search" aria-label="Search">
        <button id="submitBtn" class="btn dusty-grass-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>
    <!-- News jumbotron -->
    <div class="movieResults"></div>
</div>