<div class="container">
    <!-- Jumbotron -->
    <div class="card card-image" style="background-image: url(images/moviePage.jpg);">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="py-5">

                <!-- Content -->
                <h5 class="h5 orange-text"><i class="fas fa-camera-retro"></i> Photography</h5>
                <h2 class="card-title h2 my-4 py-2">Jumbotron with image overlay</h2>
                <p class="mb-4 pb-2 px-md-5 mx-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
                    obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima
                    debitis perferendis vitae cumque et quo impedit.</p>
                <!--<a class="btn peach-gradient"><i class="fas fa-clone left"></i> View project</a>-->

            </div>
        </div>
    </div>
    <!-- Jumbotron -->

    <form class="form-inline md-form mr-auto mb-4" id="searchBar">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button id="submitBtn" class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>
    <!-- News jumbotron -->
    <div class="jumbotron text-center hoverable p-4">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 offset-md-1 mx-3 my-3">

                <!-- Featured image -->
                <div class="view overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid"
                        alt="Sample image for first version of blog listing">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-7 text-md-left ml-3 mt-3">

                <!-- Excerpt -->
                {{!-- <a href="#!" class="green-text">
                    <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> Work</h6>
                </a> --}}

                <h4 class="h4 mb-4">Movie Title Here</h4>

                <p class="font-weight-normal">Movie Info Here.</p>

                <!--<a class="btn btn-success">Read more</a>-->

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- News jumbotron -->

    <div class="row">
        <div class="col-sm-12 col-sm-offset-2">
            <p class="cool-font">Enter Your Username</p>
            <input class="form-control" type="text" id="name" placeholder="Username">
            <br>
            <div class="form-group green-border-focus">
                <label for="exampleFormControlTextarea5">Enter Comment Here</label>
                <textarea class="form-control" id="comment-form" rows="3"></textarea>
            </div>
            <button class="btn aqua-gradient" id="submit-button">Submit</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 col-sm-offset-2">
            <h2>Comments</h2>
            <hr>
            <div id="comment-area"></div>
        </div>
    </div>

</div>