<div class="container">

    <br>
    <!-- Jumbotron -->
    <div class="card card-image z-depth-3" style="background-image: url(images/moviePage.jpg);">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="py-5">

                <!-- Content -->
                <h1 class="h1 orange-text">Movie Talk</h1>
                <h4>You've landed on the movie page, you snobby cinema viewer, you.
                    Search for the movie you hate to love or the one you love to hate and just go at it with other
                    people in the comment section. It's cathartic. Or something.</h4>
                <!--<a class="btn peach-gradient"><i class="fas fa-clone left"></i> View project</a>-->

            </div>
        </div>
    </div>
    <!-- Jumbotron -->

    <form class="form-inline md-form mr-auto mb-4" id="searchBar">
        <input class="form-control col-md-8" id="movieInput" type="text" placeholder="Search" aria-label="Search">
        <button id="submitBtn" class="btn dusty-grass-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>
    <!-- News jumbotron -->
    <div class="movieResults"></div>
    

    <div class="row">
        <div class="col-sm-12 col-sm-offset-2">
            <p class="cool-font">Enter Your Username</p>
            <input class="form-control" type="text" id="name" placeholder="Username">
            <br>
            <div class="form-group green-border-focus">
                <label for="exampleFormControlTextarea5">Enter Comment Here</label>
                <textarea class="form-control" id="comment-form" rows="3"></textarea>
            </div>
            <button class="btn dusty-grass-gradient" id="submit-button">Submit</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 col-sm-offset-2">
            <h2>Comments</h2>
            <hr>
            <div id="comment-area"></div>
        </div>
    </div>

</div>