<div class="container">

    <br>
    <!-- Jumbotron -->
    <div class="card card-image z-depth-3" style="background-image: url(images/vinyl1.jpg);">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="py-5">

                <!-- Content -->
                <h1 class="h1 orange-text">Music Talk</h1>
                <h4>Look at you, you old so-and-so. I imagine you're here to inflate the importance of Radiohead in the
                    world of modern music. Or, perhaps, you're here to complain that Nickelback doesn't get the acclaim
                    they deserve. Whatever the reason, feel free to go ahead and be excessively verbally abusive towards
                    strangers on the internet.</h4>
                <!--<a class="btn peach-gradient"><i class="fas fa-clone left"></i> View project</a>-->

            </div>
        </div>
    </div>
    <!-- Jumbotron -->
    <form class="form-inline md-form mr-auto mb-4" id="searchBar">
        <input class="form-control col-md-8" id="movieInput" type="text" placeholder="Search" aria-label="Search">
        <button id="submitBtn" class="btn dusty-grass-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>
    <!-- News jumbotron -->
    <div class="musicResults"></div>

    <br>

</div>