body {
  background-color: rgb(210, 230, 210);

}

footer {
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;

}

nav {
  border-bottom: 1px solid black;
}

.searchBar {
  border: 1px, solid blue;
  margin-top: 0.5%;

}

